:root {
    /* Breakpoints */
    --break-point-mobile: 375px;
    --break-point-desktop: 1440px;

    /* Colors */
    --clr-primary: hsl(180, 29%, 50%);
    --clr-neutral-bg: hsl(180, 52%, 96%);
    --clr-neutral-filter-tabs: hsl(180, 31%, 95%);
    --clr-neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
    --clr-neutral-very-dark-grayish-cyan: hsl(180, 14%, 20%);

    /* Typography */
    --fs-base: 15px;
    --fw-500: 500;
    --fw-700: 700;
    --ff-base: 'Spartan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-bg);
    font-size: 15px;
}

.app {
    width: 100%;
    min-height: 100vh;
}

.header {
    width: 100%;
    min-height: 140px;
    background: url('./assets/bg-header-mobile.svg');
    background-color: var(--clr-primary);
}

.app__container {
    width: 80%;
    max-width: var(--break-point-desktop);
    height: 100%;
    margin-inline: auto;
}
